/* anime watch */
.dy{
    background-image: linear-gradient(white,grey,white); 
}
.grid{
    display: grid;
    gap: 80px;
    grid-template-areas: 
    'der der der der'
    'git git git git'
    'ic ic ic ide'
    'ti ti ti ti'
    'ter ter ter ter';
}
.der{
    grid-area: der;
    display: flex;
    justify-content: center;
    box-shadow: 20px -3px 20px 13px;
    background-image: linear-gradient(white,gray);
    font-style: oblique;
    position: fixed;
    width: 98vw;
}
.git{
    grid-area: git;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;
    justify-content: space-between;
    position: fixed;
    width: 98vw;
}
.menu ul{
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style: none;
}
li.top{
    border: 1px white solid;
    box-shadow: 20px -3px 20px 13px;
    font-style: italic;
}
li.top:hover{
    border-radius: 10px;
    background: grey;
    color: white;
}
li.under:hover{
    background: white;
}
ul:hover li.under{
    display: block;
}
li.under{
    display: none;
}
.menu a{
    text-decoration: none;
    color: black;
    line-height: 75px;
}
.menu a:hover{
    color: black;
}
.ic{
    grid-area: ic;
}
.ide{
    grid-area: ide;
}
.box-1,.box-2,.box-3,.box-4,.box-5{
    color: black;
    box-shadow: 20px -10px 20px 0px;
}
.ti{
    grid-area: ti;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    box-shadow: 20px -10px 20px 0px;
}
.pic{
    width: 30vw;
    height: 35%;
}
.ti img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.ti img:hover{
    animation: aw 2s linear 0s 1 normal forwards;
}
@keyframes aw{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(90deg);}
}
.ti h3{
    text-align:left;
}
#op:hover,#bl:hover,#ns:hover,#db:hover,#hxh:hover,#aot:hover{    
    transition: backgtound-imge 5s linear;
}
#op{
    filter: blur(2px);
}    
#op{
    background-image: url(images/Donkey\ D\ Luffy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#bl{
    filter: brightness(170%);
}
#bl{
    background-image: url(images/Ichigo_Kurosaki.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
#ns{
    filter: contrast(170%);
}
#ns{
    background-image: url(images/Naruto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#db{
    filter: grayscale(90%);
}
#db{
    background-image: url(images/Goko.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#hxh{
    filter: hue-rotate(90deg);
}
#hxh{
    background-image: url(images/Gon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#aot{
    filter: opacity(0.6);
}
#aot{
    background-image: url(images/Eren.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.ter{
    grid-area: ter;
    display: flex;
    justify-content: center;
    box-shadow: 20px -10px 20px 0px;
}
@media (max-width:700px)
{
    .grid{
        display: grid;
        gap: 80px;
        grid-template-areas: 
        'der '
        'git'
        'ic'
        'ide'
        'ti'
        'ter';   
}
}
/* Gallery */
.bo{
    background-image: linear-gradient(to bottom,rgb(0, 0, 0),white,gray,rgba(169, 169, 169, 0));
}
.grid2{
    display: grid;
    gap: 40px;
    grid-template-areas: 
    'hea hea hea hea'
    'navi navi navi navi'
    'art art art as'
    'sec sec sec sec'
    'foo foo foo foo';
}
.hea{
    grid-area: hea;
    display: flex;
    justify-content: center;
    box-shadow: 20px -3px 20px 13px white;
    background-image: linear-gradient(white,gray);
    font-style:italic;
}
.navi{
    grid-area: navi;
    display: flex;
    justify-content: space-between;
    
}
.navi a{
    text-decoration: none;
    color: black;
    line-height: 75px;
    box-shadow: 20px -10px 20px 0px white;
    font-weight: bolder;
}
.navi a:hover{
    border: 1px solid rgb(245, 222, 179);
    border-radius: 10px;
}
.art{
    grid-area: art;
    box-shadow: 20px -10px 20px 0px white;
}
.as{
    grid-area: as;
    box-shadow: 20px -10px 20px 0px white;
}
.sec{
    grid-area: sec;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.vid{
    width: 30vw;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
iframe{
    display: flex;
    height: 30vh;
}
.hl{
     text-align: center;
}
.foo{
    grid-area: foo;
    display: flex;
    justify-content: center;
}
/* Manga */
.bot{
    background-image: linear-gradient(grey,white,black,gray);
    font-family: 'Pirata One';
}
.grid3{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    'head head head head'
    'ion ion ion ion'
    'le le le out'
    'on on on on'
    'down down down down';
}
.head{
    grid-area: head;
    display: flex;
    justify-content: center;
    box-shadow: 20px 13px 20px 20px rgb(221, 211, 211);
    transform: skewX(20deg);
    font-size: 25px;

}
.ion{
    grid-area: ion;
    display: flex;
    justify-content: space-between;
}
.ion a{
    text-decoration: none;
    color: black;
    line-height: 75px;
    box-shadow: 20px 13px 20px 20px rgb(221, 211, 211);
}
.ion a:hover{
    border: 1px solid black;
    border-radius: 10px;
}
.le{
    grid-area: le;
}
.out{
    grid-area: out;
}
.box-8,.box-9,.box-10,.box-11,.box-12{
       box-shadow: 20px 13px 20px 20px rgb(221, 211, 211); 
}
.on{
    grid-area: on;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    justify-content: space-between;
    color: white;
    box-shadow: 20px 13px 20px 20px rgb(221, 211, 211);
}
.mang{
    width: 30vw;
    height: 40%;
}
.mang img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 20px 13px 20px 20px rgb(221, 211, 211);
    transition: 5s linear;
}
.mang img:hover{
    transform: rotateY(180deg);
}
.mang a{
    text-decoration: none;
    color: white;
}
.down{
    grid-area: down;
    box-shadow: 20px 13px 20px 20px rgb(221, 211, 211);
}